<!--hidden header was transparent, give a white bg here-->
<div class="bg-white"></div>

<div class="card pb-5 border-0">
  <my-img [src]="(item$|async)?.img" percent="50%"></my-img>
</div>

<ngb-rating [rate]="(item$|async)?.rate" [readonly]="true" [max]="5">
  <ng-template let-fill="fill">
    <span *ngIf="fill >= 0 && fill <= 100" class="star">
      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
  </ng-template>
</ngb-rating>

<div class="row">
  <div class="col">
    <p>{{(item$|async)?.price}}</p>
    <p>{{(item$|async)?.name}}</p>
  </div>
  <div class="col">
    <my-add-to-cart></my-add-to-cart>
  </div>
</div>

<my-blah></my-blah>
