language: node_js
node_js:
   - '8.9.1'

# only re-download if have new
cache:
  directories:
    - 'node_modules'

# only watch master and greenkeeper's changes and then kick off travis
branches:
   only:
      - master
      - /^greenkeeper/.*$/

before_install:
  # set up chrome for travis karma test
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  # set up codecov
  - pip install --user codecov

after_success:
  # set up codecov
  - codecov --file coverage/lcov.info --disable search # then add --watch=false --code-coverage to npm test so cli will generate report

# install ng/cli because we'll use its commands
before_script:
   - npm install -g @angular/cli

# actual commands need to run
script:
   - npm run lint
   - npm test
   - npm run github # final command to build prod to ./docs

# use above built version to deploy
deploy:
  provider: pages
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  local_dir: ./docs # grab generated docs folder from master and push to gh-pages branch
  target_branch: gh-pages
