<div class="row justify-content-center mt-3">
  <div class="col-2" (click)="goToCategory(Category.SNACK)">
    <img src="assets/icons/chips.svg">
    零食
  </div>
  <div class="col-2" (click)="goToCategory(Category.BEVERAGE)">
    <img src="assets/icons/soda.svg">
    饮料
  </div>
  <div class="col-2" (click)="goToCategory(Category.HOME_KITCHEN)">
    <img src="assets/icons/tissues.svg">
    日用
  </div>
  <div class="col-2" (click)="goToCategory(Category.LIQUOR_TOBACCO)">
    <img src="assets/icons/liquor.svg">
    烟酒
  </div>
</div>
