<div class="row justify-content-center mt-3">
  <div class="col-2" (click)="goToCategory(Category.SNACK)">
    <img src="assets/icons/chips.svg">
    Snacks
  </div>
  <div class="col-2" (click)="goToCategory(Category.BEVERAGE)">
    <img src="assets/icons/soda.svg">
    Beverages
  </div>
  <div class="col-2" (click)="goToCategory(Category.HOME_KITCHEN)">
    <img src="assets/icons/tissues.svg">
    Commodity
  </div>
  <div class="col-2" (click)="goToCategory(Category.LIQUOR_TOBACCO)">
    <img src="assets/icons/liquor_cigar.svg">
    Liquor&Tobacco
  </div>
</div>
