@import "variables";

.outer {
  z-index: $zindex-menu;
  position: fixed;
  top: 0;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}

.menu-visible {
  background-color: $blue-header;

  .header-height {
    height: 60px;
  }

  .thick-border {
    border: solid 3px white;
  }

  .row.justify-content-end {
    margin: 10px 20px 10px 0;
    .col-8, .col-10 {
      padding-left: 8px;
    }
  }

  .split-line {
    padding-bottom: 10px;
    border-bottom: solid 1px white;
  }
}

.menu-overlay {
  background-color: rgba(0,0,0, 0.8);
}
