@import "../../../../styles";

.outer {
  z-index: $zindex-menu;
  position: fixed;
  top: 0;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}

.menu-visible {
  background-color: $blue-header;

  .row-header {
    height: 60px;
  }
}

.menu-overlay {
  background-color: rgba(0,0,0, 0.8);
}
