@import "../styles";

.app {
  background-color: $main-bg;

  .header {
    background-color: $blue-header;
    height: 60px;
    width: 100%;
    font-size: 1.5rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: $zindex-header;
  }
}
