@import "../styles";

.app {
  background-color: $main-bg;

  .header {
    height: 60px;
    width: 100%;
    font-size: 1.5rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: $zindex-header;
  }
}

my-alert /deep/ ngb-alert {
  position: fixed;
  bottom: 0;
  width: 100%;
}
