<div [ngSwitch]="displayStyle">
  <div *ngSwitchCase="DisplayStyle.TEXT">
    <div class="row no-gutters align-items-center" *ngFor="let item of items$ | async">
      <div class="col-5">{{item.name}}</div>
      <div class="col-3">¥{{item.price}}</div>
      <div class="col-4 text-right">
        <button class="btn btn-success btn-sm">Purchase</button>
        <button class="btn btn-danger btn-sm">x</button>
      </div>
    </div>
  </div>

  <!--grid style-->
  <div class="items" *ngSwitchDefault>
    <div class="mt-1 mb-3 ml-2 d-inline-block" *ngFor="let item of items$ | async">
      <div class="card border-0 mb-1 text-center pt-2" (click)="viewDetails(item.id)">
        <my-img [src]="item.img" percent="50%"></my-img>
        <div class="price">${{item.price}}</div>
        <div class="name">{{item.name}}</div>
      </div>
      <div class="add-to-cart border-0">
        <my-add-to-cart [item]="item"></my-add-to-cart>
      </div>
    </div>

    <div class="ml-4 mr-4 pt-3 d-inline-block load-cards text-primary" (click)="loadMore()">
      Load More <i *ngIf="loading" class="fa fa-spinner fa-pulse"></i>
    </div>
  </div>
</div>


