.items {
  height: 12.4rem;
  overflow-x: scroll;
  overflow-y: hidden; // prevent surprise vertical scroll
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  width: 8rem;
  height: 8rem;
}

.add-to-cart {
  width: 8rem;
  height: 2.8rem;
  background-color: white;
}
